
#container{
    width: 700px;
align-content: center;
    margin: auto;
}


#header {
    background-color: #eeeeee;
    text-align: center;
}

#content {

}

#nav {
    background-color: #eeeeee;
    width: 150px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

#main {
    width: 450px;
    float: right;

}

#bottomcontent {

}

#left {
  text-align: center;
    float: left;
}

#middle {
float: inside;

}

#right {
    float: right;

}

#footer {
    padding-top: 50px;
clear: both;
}