
a {
    text-decoration: none;
    color: rgba(34, 143, 255, 0.42);
}
#container{
    width: 60%;
align-content: center;
    margin: auto;

}


#header {
    background-color: #eeeeee;
    text-align: center;
}

#banner {

}

#content {
    height: 400px;
    width: 100%;
    padding: 50px;
}

#nav {
    width: 150px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

.current {
    color: #228fff;
    font-weight: bold;
}

#main {
    width: 500px;
    float: right;
    margin-right: 150px;

}

#bottomcontent {
clear: both;
    background-color: #eeeeee;
    width: 100%;
    height: 100px;
    text-align: center;
}

#left {
    float:left;
    width:200px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:200px;
}

#right {
    float:right;
    width:200px;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #696969;
    color: #ffffff;

}