body {
    font-family: Helvetica;
}
a {
    text-decoration: none;
    color: rgba(34, 143, 255, 0.42);
}
#container{
    width: 60%;
align-content: center;
    margin: auto;

}


#header {

    width: 400px;
    text-align: center;
    padding-top: 100px;
}

#banner {

}

#content {
    height: 400px;
    width: 100%;



}

#nav {

    width: 400px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

.current {
    color: #228fff;
    font-weight: bold;
}

#main {
    width: 600px;
    float: right;

}

#bottomcontent {
clear: both;
    background-color: #7FA48F;
    width: 100%;
    height: 100px;
    text-align: center;
}

#left {
    float:left;
    width:200px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:200px;
}

#right {
    float:right;
    width:200px;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #696969;
    color: #ffffff;

}