body {
    font-family: Helvetica;
}
a {
    text-decoration: none;
    color: rgba(34, 143, 255, 0.42);
}



#container{
    background-color: #eeeeee;
    width: 60%;
    align-content: center;
    margin: auto;

}

#header {
    padding-top: 50px;
    width: 400px;
    text-align: center;
    float: left;
}

#banner {

}

#content {
    height: 400px;
    width: 100%;
    margin-top: 50px;
}

#nav {
padding-top: 50px;
    width: 400px;
    text-align: center;
    float: right;
}

.current {
    color: #228fff;
    font-weight: bold;
}

#main {

    clear: both;
    height: 200%;
    width: 400px;
    text-align: center;
    margin:auto;
    padding: 50px;

}

#bottomcontent {
    margin-top: 150px;
    width: 100%;
    height: 100px;
    text-align: center;
}

#left {
    float:left;
    width:200px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:200px;
}

#right {
    float:right;
    width:200px;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #696969;
    color: #ffffff;
}

